.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 60rem;
  /* height: 10rem; */
  margin: auto;
  user-select: none;
  border: none;
}

.modalStuffBg {
  display: flex;
  flex-direction: column;

  color: var(--mui-palette-text-main);
  background-color: var(--mui-palette-background-main);
  width: 80rem;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
}

.elementContainer {
  padding: .5rem 1rem;
  background-color: var(--mui-palette-background-light);
  margin: .5rem .5rem 0 .5rem;
  border-radius: 1rem;
  width: 100%;

  & p {
    display: flex;
    margin: 0 auto .5rem auto;
    font-weight: bold;
    border-bottom: 1px solid var(--mui-palette-text-main);
    justify-content: left;
    align-items: center;

    & svg {
      margin-right: .5rem;
      margin-bottom: .2rem;
    }
  }

  & img {
    position: relative;
    border: .5rem solid var(--mui-palette-primary-main);
    border-radius: 1rem;
  }
}

.clipInfoButton {
  position: absolute;
  margin: 1rem 0 0 21.5rem;
  width: fit-content;
  height: fit-content;
  color: var(--mui-palette-text-main);
  background-color: var(--mui-palette-text-darker);
  border-radius: 50%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: .2rem;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: var(--mui-palette-text-main);
    color: var(--mui-palette-text-darker);
  }
}