.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 50rem;
  height: 10rem;
  margin: auto;
}

.modalStuffBg {
  color: var(--mui-palette-text-main);
  background-color: var(--mui-palette-background-light);
  width: 50rem;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
}

.clipInfoButton {
  position: absolute;
  margin: 1rem 0 0 20.5rem;
  width: fit-content;
  height: fit-content;
  color: var(--mui-palette-text-main);
  background-color: var(--mui-palette-text-darker);
  border-radius: 50%;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: .2rem;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: var(--mui-palette-text-main);
    color: var(--mui-palette-text-darker);
  }
}